<%- include('partial/header') %>
  <%- include('partial/navigation') %>
    <div class="container">
      <div class="row">
        <div class="col-8 my-3">
          <% if(postData.length < 1){ %>
            <h3 class="d-flex justify-content-center">Currently Have No Feed</h3>
            <% } %>
              <% postData.forEach(el=> { %>
                <div class="card mb-3">
                  <div class="card-header d-flex">
                    <% if(profileData.profilepic){ %>
                      <img src="<%= profileData.profilepic %>" class="rounded-circle" width="75px" height="75px"
                        alt="profile picture" />
                      <% } else { %>
                        <img
                          src=" https://media2.giphy.com/media/aq73HZM0NQDa8/giphy.gif?cid=ecf05e470529a6ip2kv95syv8lh34253t04uvz8i2sfcukpo&rid=giphy.gif&ct=g"
                          class="rounded-circle" width="50px" height="50px" alt="profile picture">
                        <% } %>
                          <div class="d-flex align-items-center mx-3 fw-bold">
                            <%= profileData.name %>
                          </div>
                  </div>
                  <img src="<%= el.gifUrl %> " class="card-img-top" alt="image">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= el.title %>
                    </h5>
                    <p class="card-text">
                      <%= el.content %>
                    </p>
                  </div>
                </div>
                <% }) %>
        </div>
        <div class="col-4 my-3">

          <div class="d-flex bg-light">
            <% if(userData.profilepic){ %>
              <img src="<%= userData.profilepic %>" class="rounded-circle" width="75px" height="75px"
                alt="profile picture" />
              <% } else { %>
                <img
                  src=" https://media2.giphy.com/media/aq73HZM0NQDa8/giphy.gif?cid=ecf05e470529a6ip2kv95syv8lh34253t04uvz8i2sfcukpo&rid=giphy.gif&ct=g"
                  class="rounded-circle" width="75px" height="75px" alt="profile picture">
                <% } %>
                  <div class="d-flex align-items-center mx-3 w-75">
                    <div class="d-flex flex-column">
                      <div class="fw-bold">
                        <%= userData.formatName %>
                      </div>
                      <small>
                        <%= userData.User.email %>
                      </small>
                    </div>
                    <div class="ms-auto">
                      <a href="/profile/<%=userData.UserId%>" class="btn btn-outline-secondary">Profile</a>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partial/footer') %>