<%- include('../partial/header') %>
  <%- include('../partial/navigation') %>
    <div class="container">
      <div class="row">
        <!-- Profile Data -->
        <div class="col-6 mt-5">
          <a href="/profile/<%= userData[0].id %> " class="btn btn-secondary mb-3">Back</a>
          <h5 class="text-secondary">Edit Your Profile Info</h5>
          <hr class="w-100">
          <form action="/profile/edit/<%= userData[0].id %>" method="post">
            <div class="mb-3 row">
              <label for="profileImag" class="col-sm-2 col-form-label">
                <% if(userData[0].profilepic){ %>
                  <img src="<%= userData[0].profilepic %>" class="rounded-circle" width="50px" height="50px"
                    alt="profile picture" />
                  <% } else { %>
                    <img
                      src=" https://media2.giphy.com/media/aq73HZM0NQDa8/giphy.gif?cid=ecf05e470529a6ip2kv95syv8lh34253t04uvz8i2sfcukpo&rid=giphy.gif&ct=g"
                      class="rounded-circle" width="50px" height="50px" alt="profile picture">
                    <% } %>
              </label>
              <div class="col-sm-10 d-flex align-items-center">
                <input type="file" class="form-control" id="profileImage" name="profilepic">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="fullName" name="name" value="<%= userData[0].name %> ">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="age" class="col-sm-2 col-form-label">Age</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="age" name="age" value="<%= userData[0].age %> ">
              </div>
            </div>
            <div class="mb-3">
              <label class="">
                Gender
              </label>
              <div class="d-flex flex-row">
                <div class="form-check mx-3">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="Male"
                    <%=userData[0].gender==='Male' && 'checked' %>>
                  <label class="form-check-label" for="male">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="Female"
                    <%=userData[0].gender==='Female' && 'checked' %>>
                  <label class="form-check-label" for="female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="address" class="col-sm-2 col-form-label">
                Address
                <span class="fw-light">*Optional</span>
              </label>
              <div class="col-sm-10">
                <textarea class="form-control" id="address" rows="3" name="address">
                  <%= userData[0].address %> 
                </textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <input type="submit" class="btn btn-primary" value="Edit Profile Info">
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../partial/footer') %>