<%- include('../partial/header') %>
  <%- include('../partial/navigation') %>
    <div class="container">
      <div class="row">
        <div class="min-vh-100">
          <!-- Profile Feed -->
          <div class="col-12 h-25 d-flex align-items-center">
            <div class="col-4 d-flex justify-content-end">
              <% if(userData.profilepic){ %>
                <img src="<%= userData.profilepic %>" class="rounded-circle" width="150px" height="150px"
                  alt="profile picture" />
                <% } else { %>
                  <img
                    src=" https://media2.giphy.com/media/aq73HZM0NQDa8/giphy.gif?cid=ecf05e470529a6ip2kv95syv8lh34253t04uvz8i2sfcukpo&rid=giphy.gif&ct=g"
                    class="rounded-circle" width="150px" height="150px" alt="profile picture">
                  <% } %>
            </div>
            <div class="col-8 d-flex justify-content-start">
              <div class="col-4 px-3">
                <h3 class=".fs-3 text">
                  <%= userData.formatName %>
                </h3>
                <h6 class="fst-normal text-secondary">
                  <%= userData.User.email %>
                </h6>
                <h6 class="fst-normal text-secondary">
                  <%= userData.age %> Years Old
                </h6>
                <p class="text-secondary fw-light">
                  <%= userData.address %>
                </p>
              </div>
              <div class="col-4">
                <a href="/profile/edit/<%= userData.id %>" class="btn btn-outline-secondary">
                  Edit Profile
                </a>
              </div>
            </div>
          </div>
          <% if(postData){ %>
            <div class="col-6 d-flex justify-content-start pb-3">
              <div class="input-group justify-content-start">
                <label class="input-group-text" for="inputGroupSelect01">Sorting By Date Add</label>
                <div class="btn-group" role="group">
                  <a href="/profile/<%= userData.id %>?sort=ASC" class="btn btn-outline-secondary">ASC</a>
                  <a href="/profile/<%= userData.id %>?sort=DESC" class="btn btn-outline-secondary">DESC</a>
                </div>
              </div>
            </div>
            <!-- Post Feed -->
            <div class="col-12">
              <div class="row">
                <% postData.forEach(el=> { %>
                  <div class="col-3 mb-3">
                    <div class="card" style="width: 18rem;">
                      <img src="<%=el.gifUrl%>" class="card-img-top" class="card-img-top" alt="image">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%= el.title %>
                        </h5>
                        <p class="card-text">
                          <%= el.content %>
                        </p>
                        <!-- <a href="/post/edit/<%=el.id%>" class="btn btn-primary">Edit</a> -->
                        <a href="/post/delete/<%=el.id%>" class="btn btn-primary">Delete</a>
                      </div>
                    </div>
                  </div>
                  <% }); %>
              </div>
            </div>
            <% } else { %>
              <h2 class="d-flex justify-content-center">Currently No Post of GIF</h2>
              <% } %>
        </div>
      </div>
    </div>

    <script>
      const sortby = () => {

      }
    </script>

    <%- include('../partial/footer') %>